<div class="animated fadeIn">
    <div class="row">
     <div class="col-md-8">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title">Uploaded Documents</h4>
            <input type="file" name="fileupload" id="fileupload">
          </div>
       </div> 
      </div>
    </div>
      <div class="row">
        <div class="col-md-8">
            <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title">Estimation</h4>
                        <h5 class="card-title">Total OLA Approved amount: Rs.0</h5>
                    </div>
                    <div class="col-md-4">                        
                <div class="input-group date" id="reservationdate_to" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" name="todate" data-target="#reservationdate_to" required/>
                    <div class="input-group-append" data-target="#reservationdate_to" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                    </div>
                </div>
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="2" style="text-align: center;">Unit Price</th>
                        <th></th>
                        <th></th>
                      </tr>
                      
                    </thead>
                    <tbody>
                        <tr>
                            <th></th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Quantity</th>
                            <th>Part</th>
                            <th>Labour</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Diesel</td>
                            <td><span class="badge badge-danger">Rejected</span></td>
                            <td>0</td>
                            <td>0</td>
                            <td>200.00</td>
                            <td>200.00</td>
                            <td><button><li class="fa fa-remove"></li></button></td>
                         </tr>
                         <tr>
                            <td></td>
                            <td>Diesel</td>
                            <td><span class="badge badge-danger">Rejected</span></td>
                            <td>0</td>
                            <td>0</td>
                            <td>200.00</td>
                            <td>200.00</td>
                            <td><button><li class="fa fa-remove"></li></button></td>
                         </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                          <th style="text-align: right;" id="total" colspan="6">Total :</th>
                          <td>400</td>
                        </tr>
                       </tfoot>
                  </table>
              </div>
           </div> 
          </div>
          <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Details</h4>
                    <div class="form-group">
                        <label>ODO Reading(in kms)</label>
                         <input type="text" id="category_id" value="11234" disabled name="category_id"class="form-control">
                        </div>
                  <div class="form-group">
                    <label>Select Service Advisor</label>
                    <select name="service" class="form-control" disabled>
                        <option value="Prabhu">Prabhu</option>
                    </select>
                    </div>
                    
                  </div>
              </div>
          </div>
      </div>
   
     
      </div>
      