<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Popular Sub Service</strong>
          </div>
          <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
              <div class="form-group row">
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Popular  Service</label>
                <div class="col-md-6">
                <select  class="form-control" [(ngModel)]="mainServiceId" (change)="mainservice_select($event)"   name="mainServiceId"   >
                  <option value="">Select Main Service</option>
                  <ng-container *ngFor="let list of mainservice_list">
                    <option value="{{list._id}}">{{list.Service_Name}}</option>
                    </ng-container>
              </select>  
              </div>
              </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Sub Service Name</label>
                    <div class="col-md-6">
                      <input type="text" [(ngModel)]="SubServiceName"   name ="SubServiceName" id="text-input"  class="form-control" placeholder="Sub-Service Name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Specifications</label>
                    <div class="col-md-4">
                      <input type="text" name ="subtitle" [(ngModel)]="subtitle"  id="text-input" class="form-control" placeholder="Specifications">
                    </div> 
                    <div class="col-md-2">
                      <div class="">                        
                        <button  (click)="addspecificationRow()" class="btn btn-sm btn-primary" ><i class="fa fa-plus"></i>Add</button>               
                      </div>
                  </div>
                  </div>   
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Specification List</label>
                    <div class="col-md-6">                      
                    <table class="table table-bordered table-striped table-sm">
                      <thead>
                        <tr>
                        <th>Specification</th>
                        <th>Delete</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr  *ngFor="let dynamic of specification_new; let i = index;">
                        <td>{{dynamic}}</td>
                        <td> <button (click)="deleteRow(dynamic,i)" class="btn  btn-sm btn-danger">Delete</button></td>
                      </tr>
                      </tbody>                     
                    </table>
                  </div>
                </div> 
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Price</label>
                    <div class="col-md-6">
                      <input type="text" [(ngModel)]="Service_Cost"   name ="Service_Cost" id="text-input"  class="form-control" placeholder="Price">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Discount Price</label>
                    <div class="col-md-6">
                      <input type="text" [(ngModel)]="Discount_price"  name ="Discount_price" id="text-input"  class="form-control" placeholder="DiscountPrice">
                    </div>
                  </div>    
                    <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Included</label>
                    <div class="col-md-4">
                      <input type="text" [(ngModel)]="Included"   name="Included" id="text-input"  class="form-control" placeholder="Included">
                    </div>
                    <div class="col-md-2">
                      <div class="">                        
                        <button  (click)="addRow()" class="btn btn-sm btn-primary" ><i class="fa fa-plus"></i>Add</button>               
                      </div>
                  </div>
                  </div>            
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Included List</label>
                    <div class="col-md-6">                      
                    <table class="table table-bordered table-striped table-sm">
                      <thead>
                        <tr>
                        <th>Included</th>
                        <th>Delete</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr  *ngFor="let dynamic of Included_new; let i = index;">
                        <td>{{dynamic}}</td>
                        <td> <button (click)="deleteRow_new(dynamic,i)" class="btn  btn-sm btn-danger">Delete</button></td>
                      </tr>
                      </tbody>                     
                    </table>
                  </div>
                </div>
                
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Image Upload</label>
                    <div class="col-md-6">
                      <input type="file" (change)="fileupload($event)"><br>
                      <span style="color:red">Image Size 50*50</span>
                    </div>
                  </div>
                   <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Thump Line Image</label>
                    <div class="col-md-6">
                      <input type="file" (change)="fileupload1($event)">   <br>                   
                      <span style="color:red">Image Size 50*50</span>
                    </div>
                  </div>
                   <div class="row">                
                    <div class="col-md-6">
                        <div class="form-group">
                          <button (click)="subservicecreation()" class="btn btn-sm btn-primary float-right mt-5" ><i class="fa fa-save"></i> Save</button>               
                        </div>                  
                    </div>  
                     <div class="col-md-6">
                        <div class="form-group">
                              <button type="reset"  class="btn btn-sm btn-danger mt-5"><i class="fa fa-ban"></i> Reset</button>  
                        </div>                  
                    </div> 
                </div>   
                <h4 class="card-title pt-4">Popular Sub Service List</h4>
                <div style="overflow: scroll;">
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                      <tr>
                        <th>S.No</th>
                        <th>Main Service</th>
                        <th>Sub Service Name</th>
                        <th>Sub Service Title</th>
                        <th>Price</th>
                        <th>Discount_Price</th>
                        <th>Included</th>
                        <th>Image</th>
                        <th>Thum_line Image</th>
                        <th>Action</th>
                      </tr>
                      
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item of masterservice_list; let i = index;">
                        <tr>
                            <td>{{i+1}}</td>
                            <td>{{item.Service_Name}}</td>
                            <th>{{item.Title}}</th>
                            <td>{{item.SubTitle}}</td>
                            <td>{{item.Original_Price}}</td>
                            <td>{{item.Discount_Price}}</td>
                            <td>{{item.ItemList}} </td>
                            <td><img height="50" width="50" src={{item.Service_Image}} alt="Noimage"></td>
                            <td><img height="50" width="50" src={{item.Thumb_Line_Image}} alt="Noimage"></td>
                            <td><button (click)="editservice(item)" class="btn btn-sm btn-success"><li class="fa fa-edit"></li> </button>
                                <button (click)="deleteservice(item._id)" class="btn btn-sm btn-danger"><li class="fa fa-trash"></li> </button></td>
                         </tr>
                        </ng-container>
                    </tbody>
                  </table>      
                </div>     
            </form>
             
          </div>
        </div>
      </div>
    </div><!--/.row-->
  </div>
  

