<div class="animated fadeIn">
    <!--/.row-->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Patient Details 
          </div>
          <div class="card-body">
            <table class="table table-bordered table-striped table-sm">
                <tr>
                  <th>Pic</th>
                  <th><img src="{{Patient_details.Pic}}"></th>
                </tr>
                    <tr>
                        <th>Name of the Patient</th>
                        <td>{{Patient_details.Name}}</td>
                    </tr> 
                            
                    <tr>
                            <th>Email</th>
                            <td>{{Patient_details.Email}}</td>
                    </tr> 
                        <tr>
                            <th>Phone Number</th>
                            <td>{{Patient_details.Phone}}</td>
                        </tr> 
                        <tr>
                            <th>Password</th>
                            <td>{{Patient_details.Password}}</td>
                        </tr> 


                        <tr>
                            <th>Age</th>
                            <td>{{Patient_details.Age}}</td>
                        </tr> 

                        <tr>
                            <th>Gender</th>
                            <td>{{Patient_details.Gender}}</td>
                        </tr> 


                        <tr>
                            <th>Height</th>
                            <td>{{Patient_details.Height}}</td>
                        </tr> 

                        <tr>
                            <th>Weight</th>
                            <td>{{Patient_details.Weight}}</td>
                        </tr> 
                        
                        <tr>
                            <th>Type</th>
                            <td>{{Patient_details.Type}}</td>
                        </tr>
                   
                        <tr>
                            <th>Address</th>
                            <td>{{Patient_details.Address}}</td>
                        </tr> 
                        <tr>
                            <th>About_me</th>
                            <td>{{Patient_details.About_me}}</td>
                        </tr> 
                        <tr>
                            <th>Looking doctor like</th>
                            <td>{{Patient_details.Looking_doctor_like}}</td>
                        </tr> 
                        <tr>
                            <th>Looking doctor specialisation</th>
                            <td>{{Patient_details.Looking_doctor_specialisation}}</td>
                        </tr> 
                        <tr>
                            <th>Suffering for</th>
                            <td>{{Patient_details.Suffering_for}}</td>
                        </tr> 
                        <tr>
                            <th>corporatecode</th>
                            <td>{{Patient_details.CorporateCode}}</td>
                        </tr> 
                        <tr>
                            <th>Attach prescription</th>
                            <td>{{Patient_details.Attach_prescription}}</td>
                        </tr> 
            </table>

           <h3>Family List</h3>
            <div class="card-body">
                <table class="table table-bordered table-striped table-sm">
                  <thead>
                    <tr>
                      <th>S.No</th>
                      <th>Pic</th>
                      <th>Name</th>
                      <th>Email_id</th>
                      <th>Gender</th>
                      <th>Relation</th>
                      <th>DOB</th>
                      <th>Age</th>
                      <th>Information</th>
                      <th>BloodGroup</th>
                      <th>ContactNumber</th>
                      <th>Suffering_for</th>
                      <th>Looking_doctor_like</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let item of Family_list; let i = index;">
    
                        <tr>
                            <td>{{i+1}}</td>
                            <td>{{item.Pic}}</td>
                            <td>{{item.Name}}</td>
                            <td>{{item.Email_id}}</td>
                            <td>{{item.Gender}}</td>
                            <td>{{item.Relation}}</td>
                            <td>{{item.DOB}}</td>
                            <td>{{item.Age}}</td>
                            <td>{{item.Information}}</td>
                            <td>{{item.BloodGroup}}</td>
                            <td>{{item.ContactNumber}}</td>
                            <td>{{item.Suffering_for}}</td>
                            <td>{{item.Looking_doctor_specialisation}}</td>
                            <td>
                               <button (click)="DeleteMembers(item._id)">Delete</button>
                              </td>
                          </tr>
                        </ng-container>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
  