<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Vehicle Body</strong>
                </div>
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="form-group row">
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Vehicle Type</label>
                            <div class="col-md-6">
                                <select class="form-control" 
                                    [(ngModel)]="VehicleType" name="VehicleType">
                                    <!-- <option>Select Vehicle Type</option> -->
                                    <!-- <ng-container *ngFor="let list of vehicle_list;"> -->
                                    <option value="Four Wheeler">Four Wheeler</option>
                                    <!-- </ng-container> -->
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Vehicle Body</label>
                            <div class="col-md-6">
                                <input type="text" [(ngModel)]="VehicleModel" name="VehicleModel" id="text-input"
                                    class="form-control" placeholder="Vehicle Body">
                            </div>
                            <div *ngIf="serviceError">
                                <div class="text-danger">{{serviceErrorMsg}}</div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Vehicle Body Image</label>
                            <div class="col-md-6">
                                <input type="file" style="display: none;" (change)="fileupload1($event)"
                                id="myFil"><label
                                style="padding: 3px;font-size: 11px;font-weight: 500; border: 1px solid #c8c6c6;"
                                for="myFil">Choose image</label> <img *ngIf="Pic != undefined" src="{{Pic}}"
                                style="float: right;;width: 30px;height: 30px;">
                            </div>
                            <div *ngIf="serviceError">
                                <div class="text-danger">{{serviceErrorMsg}}</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button (click)="VehicleModal_save()"
                                        class="btn btn-sm btn-primary float-right mt-5"><i
                                            class="fa fa-save"></i>Save</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="button" (click)="reset()" class="btn btn-sm btn-danger mt-5"><i class="fa fa-ban"></i>
                                        Reset</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <h4 class="card-title pt-4">Vehicle Body List</h4>
                    <table class="table table-striped table-bordered table-sm" [svData]="vehiclemodelList"
                        #sv="svDataTable" [svRowsOnPage]="10" svSortBy="name" svSortOrder="asc">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Vehicle Body</th>
                                <th>Vehicle Image</th>
                                <!-- <th>Vehicle Type</th> -->
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of sv.data; let i = index;">
                                <td>{{i+1}}</td>
                                <td>{{item.VehicleModel_Name}}</td>
                                <td><img height="50" width="50" src={{item.VehicleModel_Image}} alt="Noimage"></td>
                                <!-- <td>{{item.Vehicle_Type}}</td> -->

                                <td><button (click)="editservice(item)" class="btn btn-sm btn-success">
                                        <li class="fa fa-edit">Edit</li>
                                    </button>
                                    <button (click)="VehicleModel_delete(item._id)" class="btn btn-sm btn-danger">
                                        <li class="fa fa-trash">Delete</li>
                                    </button></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10, 25]"></sv-bootstrap-paginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--/.row-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">

            </div>
        </div>
    </div>
</div>