<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <input type="text"  name="BookingId" id="text-input" class="form-control"
        placeholder="Booking Id">
        </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <input type="text"  name="WorkshopName" id="text-input" class="form-control"
        placeholder="Booking Status"> -->
        <select class="form-control" > 
          <option>Booking Status </option>
        </select>
        </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <input type="text"  name="CustomerPhoneNumber" id="text-input" class="form-control"
        placeholder="Customer PhoneNumber">
        </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <input type="text"  name="Service" id="text-input" class="form-control"
        placeholder="Service"> -->
        <select class="form-control" > 
          <option>Service</option>
        </select>
        </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <input type="text"  name="SubService" id="text-input" class="form-control"
        placeholder="Sub Service"> -->
        <select class="form-control" > 
          <option>Sub Service </option>
        </select>
        </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <input type="text"  name="SubService" id="text-input" class="form-control"
        placeholder="Pickup Location"> -->
        <select class="form-control" > 
          <option>Pickup Location</option>
        </select>
        </div>
    </div>
    <!-- <div class="col-md-3">
      <div class="form-group">
        <input type="date"  name="PickupLocation" id="text-input" class="form-control"
        placeholder="Pickup Date">
        </div>
    </div>     -->
    <div class="col-md-3">
      <div class="form-group">
        <input type="text"  name="WorkshopId" id="text-input" class="form-control"
        placeholder="Workshop Id">
        </div>
    </div>
       
    <div class="col-md-3">
      <div class="form-group">
        <input type="text"  name="WorkshopName" id="text-input" class="form-control"
        placeholder="Workshop Name">
        </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
       <button class="btn btn-primary">Search</button>
        </div>
    </div>      
  </div>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="text-input">Booking Date</label>
          <div class="col-md-3">
            <input type="date" [(ngModel)]="Secondcontact" name="Secondcontact" id="text-input"
              class="form-control" placeholder="GST Number">
          </div>
          <div class="col-md-3">
            <input type="date" [(ngModel)]="Secondcontact" name="Secondcontact" id="text-input"
              class="form-control" placeholder="GST Number">
          </div>
        </div>
      </div>
     
    </div>
  
      <div class="row">
  
 
    <label class="col-md-2 col-form-label" for="text-input">Pickup Date</label>
    <div class="col-md-2"> 
        <input type="date" class="form-control datetimepicker-input" name="todate" data-target="#reservationdate_to" required/>
       
    </div>
    <label class="col-md-2 col-form-label" for="text-input">Delivery Date</label>
    <div class="col-md-2"> 
        <input type="date" class="form-control datetimepicker-input" name="todate" data-target="#reservationdate_to" required/>
       
    </div>
    </div>
  <div class="row mt-5">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Booking List
        </div>        
        <div class="row">                
          <div class="col-md-6">
              <div class="form-group">
                <button  class="btn btn-sm btn-primary float-right mt-2" ><i class="fa fa-save"></i>Excel</button>               
              </div>                  
          </div>  
           <div class="col-md-6">
              <div class="form-group">
                    <button type="reset"  class="btn btn-sm btn-primary mt-2"><i class="fa fa-share"></i> Share</button>  
              </div>                  
          </div> 
      </div> 
         <div class="card-body">
          <div style="overflow-x:scroll;">
            <div class="search-hero">
              <input class="form-control" type="text" name="search2"
                  style="font-family: FontAwesome;" [(ngModel)]="searchQR" autocomplete="off"
                  placeholder="&#xf002; Search...">
          </div>
            <table class="table table-striped table-bordered table-sm" [svData]="Booking_List" #sv="svDataTable"
            [svRowsOnPage]="10" svSortBy="name" svSortOrder="asc">
            <thead>
              <tr>
                <th>S.No</th>
                <th> <input type="checkbox"  [(ngModel)]="select" name="bookingtablelist"  id="Parking" value="Parking" (change)="changepermission_parking($event)">   </th>
                <th>Booking Id</th>
                <th>CName</th>
                <th>CPhone</th>
                <th>Vehicle_No</th>
                <th>Vehicle_Type</th>
                <th>Services</th>
                <th>SubServices</th>
                <th>Order_value</th>
                <th>Pickup_Location</th>
                <th>Pickup_Date	</th>
                <th>Pickup_City</th>
                <th>Delivery_Date</th>
                <th>Booking_Date</th>
                <th>Final_Bill_Payed</th>
                <th>Workshop Id</th> 
                <th>Workshop_Location</th>
                <th>Workshop_Name</th>
                <th>Booking_Status</th>
                <th>Job_Card</th>
                <th>Vendor_Invoice</th>
                <th>Customer_Invoice</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of sv.data | filter:searchQR; let i = index;">
                <td>{{i+1}}</td>
                <td><input type="checkbox"  name="{{item.select_status}}" [(ngModel)]="item.select_status" (change)="selectall($event)" ></td>
                <td>{{item.Booking_id}}</td>
                <td>{{item.Customer_Name}}</td>
                <td>{{item.Customer_Phone}}</td>
                <td>{{item.Vehicle_No}}</td>
                <td>{{item.Vehicle_Type}}</td>
                <th>{{item.Services}}</th>
                <th>{{item.Subserivces}}</th>
                <td>{{item.Order_Value}}</td>
                <th><a style="color: cadetblue; text-decoration: underline;" href="#">{{item.Pick_Up_Location}}</a></th>
                <td>{{item.Pickup_Date| date :'dd-MMM-yy h:mm:ss a'}}</td>
                <th>{{item.Customer_Address}}</th>
                <td>{{item.Delivery_Date| date :'dd-MMM-yy h:mm:ss a'}}</td>
                <td>{{item.Booking_Date| date :'dd-MMM-yy h:mm:ss a'}}</td>
                <td>{{item.Final_bill_payed}}</td>
                <td></td>
                <td><a style="color: cadetblue; text-decoration: underline;" href="#">{{item.Workshop_Location}}</a></td>
                <td>{{item.Workshop_Name}}</td>
                <td>{{item.Booking_Status}}</td>
                <td>{{item.Job_Card}}</td>
                <td>{{item.Vendor_Invoice}}</td>
                <td>{{item.Customer_Invoice}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="23">
                  <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10, 25]"></sv-bootstrap-paginator>
                </td>
              </tr>
            </tfoot>
          </table>
          
        </div>
      </div>
      </div>
      </div>
      </div>
      </div>