<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Add Role</strong>
          </div>
          <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Designation</label>
                    <div class="col-md-4">
                  <input type="text" value="Manager" disabled id="" name="">
              </div>
            </div>
                </div>
              <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="col-md-3 col-form-label">
                            <div class="form-check form-check-inline mr-1">
                              <input class="form-check-input" type="checkbox" id="inline-checkbox1" value="option1">
                              <label class="form-check-label" for="inline-checkbox1">Role Management</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-form-label">
                            <div class="form-check form-check-inline mr-1">
                              <input class="form-check-input" type="checkbox" id="inline-checkbox2" value="option1">
                              <label class="form-check-label" for="inline-checkbox2">Bookings</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-form-label">
                            <div class="form-check form-check-inline mr-1">
                              <input class="form-check-input" type="checkbox" id="inline-checkbox3" value="option1">
                              <label class="form-check-label" for="inline-checkbox3">Vendor management</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-form-label">
                            <div class="form-check form-check-inline mr-1">
                              <input class="form-check-input" type="checkbox" id="inline-checkbox4" value="option1">
                              <label class="form-check-label" for="inline-checkbox4">Statatics</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-form-label">
                            <div class="form-check form-check-inline mr-1">
                              <input class="form-check-input" type="checkbox" id="inline-checkbox2" value="option1">
                              <label class="form-check-label" for="inline-checkbox2">App features management</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-form-label">
                            <div class="form-check form-check-inline mr-1">
                              <input class="form-check-input" type="checkbox" id="inline-checkbox3" value="option1">
                              <label class="form-check-label" for="inline-checkbox3">Permissions</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-form-label">
                            <div class="form-check form-check-inline mr-1">
                              <input class="form-check-input" type="checkbox" id="inline-checkbox4" value="option1">
                              <label class="form-check-label" for="inline-checkbox4">Customer Support</label>
                            </div>
                        </div>
                      </div>          
                </div>                    
            </div> 
            <div class="row">                
                <div class="col-md-6">
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-primary float-right mt-5" ><i class="fa fa-dot-circle-o"></i> Submit</button>                
                        </div>                  
                </div> 
                 <div class="col-md-6">
                    <div class="form-group">
                          <button type="reset"  class="btn btn-sm btn-danger mt-5"><i class="fa fa-ban"></i> Reset</button>  
                    </div>                  
                </div> 
            </div>
            </form>
        </div>
      </div>
    </div><!--/.row-->
  </div>

  </div>
  

