<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Create Driver Form</strong>
          </div>
          <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
              <div class="form-group row">
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">First Name</label>
                    <div class="col-md-8">
                      <input type="text"  name ="DrName" id="text-input" name="text-input" class="form-control" placeholder="Name of the Driver">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Primary Contact</label>
                    <div class="col-md-8">
                      <input type="text"  name ="PrimaryConatct" id="text-input"  class="form-control" placeholder="Primary Contact">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Residence Address</label>
                    <div class="col-md-8">
                      <textarea name ="ResidenceAddress" id="text-input" rows="4" class="form-control" placeholder="Residence Address"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Address Proof</label>
                    <div class="col-md-8">
                      <input type="file"  name ="AddressProof" id="text-input" class="form-control" placeholder="Address Proof">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Voter ID</label>
                    <div class="col-md-8">
                      <input type="text"  name ="VoterID" id="text-input"  class="form-control" placeholder="VoterID">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">DL No</label>
                    <div class="col-md-8">
                      <input type="text"  name ="DLNo" id="text-input"  class="form-control" placeholder="DL No">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Batch Enrolled</label>
                    <div class="col-md-8">
                      <input type="text"  name ="BatchEnrolled" id="text-input"  class="form-control" placeholder="Batch Enrolled">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Nominee Name</label>
                    <div class="col-md-8">
                      <input type="text"  name ="NomineeName" id="text-input" class="form-control" placeholder="Nominee Name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Nominee Contact</label>
                    <div class="col-md-8">
                      <input type="text"  name ="NomineeContact" id="text-input" class="form-control" placeholder="Nominee Contact">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Reference Address</label>
                    <div class="col-md-8">
                      <textarea name ="ReferenceAddress" id="text-input" rows="4" class="form-control" placeholder="Reference Address"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Any accident case ongoing</label>
                    <div class="col-md-8">
                      <input type="text"  name ="Anyaccidentongoing" id="text-input" name="text-input" class="form-control" placeholder="Any accident case ongoing">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Last employer name</label>
                    <div class="col-md-8">
                      <input type="text"  name ="Lastemployername" id="text-input" name="text-input" class="form-control" placeholder="Last employer name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Manual	</label>
                    <div class="col-md-8">
                      <select class="form-control" name="manual">
                        <option value="">Select Manual</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Both	</label>
                    <div class="col-md-8">
                      <select class="form-control" name="both">
                        <option value="">Select Both</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Full Time/Part time</label>
                    <div class="col-md-8">
                      <input type="text"  name ="FullTime/Parttime" id="text-input" name="text-input" class="form-control" placeholder="Full Time/Part time">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Education Qualification</label>
                    <div class="col-md-8">
                      <input type="text"  name ="EducationQualification" id="text-input" name="text-input" class="form-control" placeholder="Education Qualification">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Last Name</label>
                    <div class="col-md-8">
                      <input type="text"  name ="DrName" id="text-input" name="text-input" class="form-control" placeholder="Last Name">
                      <!-- <span class="help-block">This is a help text</span> -->
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Secondary Contact</label>
                    <div class="col-md-8">
                      <input type="text"  name ="SecondaryConatct" id="text-input" name="text-input" class="form-control" placeholder="Secondary Contact">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Permanent Address</label>
                    <div class="col-md-8">
                      <textarea name ="PermanentName" id="text-input" rows="4"  class="form-control" placeholder="Permanent Address"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Adhaar Proof</label>
                    <div class="col-md-8">
                      <input type="file"  name ="AdhaarProof" id="text-input"  class="form-control" placeholder="Adhaar Proof">
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Original Driving License</label>
                    <div class="col-md-8">
                      <input type="text"  name ="OriginalDrivingLicense" id="text-input" class="form-control" placeholder="Original Driving License">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Valid Upto</label>
                    <div class="col-md-8">
                      <input type="date"  name ="ValidUpto" id="text-input"  class="form-control" placeholder="Valid Upto">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Date of Batch Enrolled</label>
                    <div class="col-md-8">
                      <input type="date"  name ="DateEnrolled" id="text-input"  class="form-control" placeholder="Date of Batch Enrolled">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Nominee Address</label>
                    <div class="col-md-8">
                      <textarea  name ="NomineeAddress" rows="4" id="text-input"  class="form-control" placeholder="Nominee Address"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Reference Name</label>
                    <div class="col-md-8">
                      <input type="text"  name ="ReferenceName" id="text-input"  class="form-control" placeholder="Reference Name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Reference Contact</label>
                    <div class="col-md-8">
                      <input type="text"  name ="ReferenceContact" id="text-input"  class="form-control" placeholder="Reference Contact">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Total Driving Experience</label>
                    <div class="col-md-8">
                      <input type="text"  name ="TotalDrivingExperience" id="text-input"  class="form-control" placeholder="Total Driving Experience">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Driving Model</label>
                    <div class="col-md-8">
                      <input type="text"  name ="DrivingModel" id="text-input"  class="form-control" placeholder="Driving Model">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Auto Transmission	</label>
                    <div class="col-md-8">
                      <select class="form-control" name="AutoTransmission">
                        <option value="">Select Option</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Luxury cars	</label>
                    <div class="col-md-8">
                      <select class="form-control" name="Luxurycars">
                        <option value="">Select Option</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Android Phone</label>
                    <div class="col-md-8">
                      <select class="form-control" name="AndroidPhone">
                        <option value="">Select Option</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Outstaion Trave</label>
                    <div class="col-md-8">
                      <input type="text"  name ="OutstaionTrave" id="text-input"  class="form-control" placeholder="Outstaion Trave">
                    </div>
                  </div>
                </div>
              </div>
  
              
            
  
            
            </form>
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-sm btn-primary" ><i class="fa fa-dot-circle-o"></i> Submit</button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
              
                </div>
                
            </div>
             
          </div>
        </div>
      </div>
    </div><!--/.row-->
  </div>
  

