<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Subscriptions </strong>
        </div>
          <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
              <div class="form-group row">
              </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Title</label>
                    <div class="col-md-6">
                      <input type="text" [(ngModel)]="Title" name ="Title" id="text-input" class="form-control" placeholder="Title">
                    </div>
                  </div> 
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Description</label>
                    <div class="col-md-6">
                      <textarea name ="Description" [(ngModel)]="Description"  id="text-input" rows="4" class="form-control" placeholder="Description"></textarea>
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Duration</label>
                    <div class="col-md-6">
                      <input type="text" name ="Duartion" [(ngModel)]="Duartion"  id="text-input" class="form-control" placeholder="Duration">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Price</label>
                    <div class="col-md-6">
                      <input type="text" name ="Price" [(ngModel)]="Price"  id="text-input"  class="form-control" placeholder="Price">
                    </div>
                  </div>   
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Included</label>
                    <div class="col-md-4">
                      <input type="text" [(ngModel)]="Included"   name="Included" id="text-input"  class="form-control" placeholder="Included">
                    </div>
                    <div class="col-md-2">
                      <div class="">                        
                        <button  (click)="addRow()" class="btn btn-sm btn-primary" ><i class="fa fa-plus"></i>Add</button>               
                      </div>
                  </div>
                  </div>            
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Included List</label>
                    <div class="col-md-6">                      
                    <table class="table table-bordered table-striped table-sm">
                      <thead>
                        <tr>
                        <th>Included</th>
                        <th>Delete</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr  *ngFor="let dynamic of Included_new; let i = index;">
                        <td>{{dynamic}}</td>
                        <td> <button (click)="deleteRow_new(dynamic,i)" class="btn  btn-sm btn-danger">Delete</button></td>
                      </tr>
                      </tbody>                     
                    </table>
                  </div>
                </div>               
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Image Upload</label>
                    <div class="col-md-6">
                      <input type="file" (change)="fileupload($event)">
                      <span style="color:red">Image Size 1060*650</span>
                    </div>
                  </div>
                 
                 
             
                  <div class="row">                
                    <div class="col-md-6">
                        <div class="form-group">
                          <button (click)="Banner_save()" class="btn btn-sm btn-primary float-right mt-5" ><i class="fa fa-save"></i> Save</button>               
                        </div>                  
                    </div>  
                     <div class="col-md-6">
                        <div class="form-group">
                              <button type="reset"  class="btn btn-sm btn-danger mt-5"><i class="fa fa-ban"></i> Reset</button>  
                        </div>                  
                    </div> 
                </div>
            </form>
            <h4 class="card-title pt-4">Subscription List</h4>
            <table class="table table-bordered table-striped table-sm">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Duration</th>
                    <th>Description</th>
                    <th>Prize</th>
                    <th>Action</th>
                  </tr>
                  
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of banner_list; let i = index;">
                    <tr>
                        <td>{{i+1}}</td>
                        <td><img height="50" width="50" src={{item.Homebanner_Image}} alt="Noimage"></td>
                        <td>{{item.Title}}</td>
                        <td>{{item.Desc}}</td>
                        <td>{{item.Title}}</td>
                        <td>{{item.Desc}}</td>
                        <td><button (click)="editservice(item)" class="btn btn-sm btn-success"><li class="fa fa-edit"></li> </button>
                            <button (click)="deleteservice(item._id)" class="btn btn-sm btn-danger"><li class="fa fa-trash"></li> </button></td>
                            
                     </tr>
                    </ng-container>
                </tbody>
              </table>                  
        <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
          </div>
        </div>
      </div>
    </div><!--/.row-->
 
  </div>

  

