<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Create Doctor Form</strong>
          </div>
          <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
              <div class="form-group row">
              </div>
  
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="file-input">Doctor Photo</label>
                <div class="col-md-9">
                 <input type="file" (change)="fileupload1($event)">
                </div>
              </div>
  
  
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">DR Name</label>
                <div class="col-md-9">
                  <input type="text" [(ngModel)]="DrName" name ="DrName" id="text-input" name="text-input" class="form-control" placeholder="Name of the Doctor">
                  <!-- <span class="help-block">This is a help text</span> -->
                </div>
              </div>
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Email Id</label>
                <div class="col-md-9">
                  <input type="text" id="text-input"  [(ngModel)]="Email_id" name ="Email_id" name="text-input" class="form-control" placeholder="Email Id">
                  <!-- <span class="help-block">This is a help text</span> -->
                </div>
              </div>
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Password</label>
                <div class="col-md-9">
                  <input type="password" id="text-input" [(ngModel)]="Password" name ="Password" name="text-input" class="form-control" placeholder="Password">
                  <!-- <span class="help-block">This is a help text</span> -->
                </div>
              </div>
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Phone Number</label>
                <div class="col-md-9">
                  <input type="text" id="text-input"  [(ngModel)]="Phone_number" name ="Phone_number" name="text-input" class="form-control" placeholder="Phone Number">
                  <!-- <span class="help-block">This is a help text</span> -->
                </div>
              </div>
  
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Gender</label>
  
                <div class="col-md-9">
                  <select id="select1" name="select1" class="form-control" [(ngModel)]="Gender" name ="Gender" >
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>
                  </select>
                </div>
              </div>
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Date of birth</label>
                <div class="col-md-9">
                  <input type="Date" id="text-input"  [(ngModel)]="DOB" name ="DOB" name="text-input" class="form-control" placeholder="Text">
                  <!-- <span class="help-block">This is a help text</span> -->
                </div>
              </div>
  
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Languages Knowns</label>
               
                  <div class="col-md-9">
                    <table style="border: 1px solid black; width: 100%;">
                      <tr style="border: 1px solid black;background-color: gray;">
                         <td style="border: 1px solid black;">S.no</td>
                         <td style="border: 1px solid black;">Languages</td>
                         <td style="border: 1px solid black;">Action</td>
                      </tr>
                      <tr style="border: 1px solid black;">
                        <td style="border: 1px solid black;"></td>
                        <td style="border: 1px solid black;"><input type="text"  [(ngModel)]="Languages" name ="Languages"></td>
                        <td style="border: 1px solid black;"><button (click)="addlanguage()">Add</button></td>
                      </tr>
                      <ng-container *ngFor="let item of LanguagesList; let i = index;">
                        <tr style="border: 1px solid black;">
                          <td style="border: 1px solid black;">{{i+1}}</td>
                          <td style="border: 1px solid black;">{{item}}</td>
                          <td style="border: 1px solid black;"><button (click)="deletelanguage()">Delete</button></td>
                        </tr>
                      </ng-container>
  
                     
                   </table>
                    <!-- <span class="help-block">This is a help text</span> -->
                  <!-- <span class="help-block">This is a help text</span> -->
                </div>
              </div>
  
  
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Qualifications</label>
                <div class="col-md-9">
                  <input type="text" id="text-input" name="text-input" [(ngModel)]="Qualifications" name ="Qualifications" class="form-control" placeholder="Qualifications">
                  <!-- <span class="help-block">This is a help text</span> -->
                </div>
              </div>
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Institution / University</label>
                <div class="col-md-9">
                  <input type="text" id="text-input" name="text-input" [(ngModel)]="Institution" name ="Institution" class="form-control" placeholder="Institution / University">
                  <!-- <span class="help-block">This is a help text</span> -->
                </div>
              </div>
  
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Year of Passing Of Highest Qualification</label>
                <div class="col-md-9">
                  <input type="text" id="text-input" name="text-input" [(ngModel)]="YOP" name ="YOP" class="form-control" placeholder="Year of Passing Of Highest Qualification">
                  <!-- <span class="help-block">This is a help text</span> -->
                </div>
              </div>
  
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Specialization</label>
                <div class="col-md-9">
  
  
                  <table style="border: 1px solid black; width: 100%;">
                    <tr style="border: 1px solid black;background-color: gray;">
                      <td style="border: 1px solid black;">S.no</td>
                      <td style="border: 1px solid black;">Specialization</td>
                      <td style="border: 1px solid black;">Action</td>
                    </tr>
                    <tr style="border: 1px solid black;">
                      <td style="border: 1px solid black;"></td>
                      <td style="border: 1px solid black;"><input type="text"  [(ngModel)]="Specialisation" name ="Specialisation"></td>
                      <td style="border: 1px solid black;"><button (click)="addSpecialisation()">Add</button></td>
                    </tr>
                    <ng-container *ngFor="let item of SpecialisationList; let i = index;">
                      <tr style="border: 1px solid black;">
                        <td style="border: 1px solid black;">{{i+1}}</td>
                        <td style="border: 1px solid black;">{{item}}</td>
                        <td style="border: 1px solid black;"><button (click)="deleteSpecialisation()">Delete</button></td>
                      </tr>
                    </ng-container>
                 </table>
                  <!-- <span class="help-block">This is a help text</span> -->
                </div>
              </div>
  
  
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Overall Experience</label>
                <div class="col-md-9">
                  <input type="text" id="text-input" [(ngModel)]="OverallExp" name ="OverallExp" name="text-input" class="form-control" placeholder="Overall Experience">
                  <!-- <span class="help-block">This is a help text</span> -->
                </div>
              </div>
  
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">speical Mention, if any (Eg. Worked with US public health - 10 years,worked in apollo Hosptials - 5 years)</label>
                <div class="col-md-9">
                  <textarea id="textarea-input" name="textarea-input" [(ngModel)]="Special" name ="Special" rows="9" class="form-control" placeholder="speical Mention.."></textarea>
                  <!-- <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text"> -->
                  <!-- <span class="help-block">This is a help text</span> -->
                </div>
              </div>
  
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Current Location</label>
                <div class="col-md-9">
                  <input type="text" id="text-input"  [(ngModel)]="Current_location" name ="Current_location"  name="text-input" class="form-control" placeholder="Current Location">
                  <!-- <span class="help-block">This is a help text</span> -->
                </div>
              </div>
  
  
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Current Employed at</label>
                <div class="col-md-9">
                  <input type="text" id="text-input"  [(ngModel)]="Current_employe_at" name ="Current_employe_at" name="text-input" class="form-control" placeholder="Current Employed at">
                  <!-- <span class="help-block">This is a help text</span> -->
                </div>
              </div>
  
  
  
  
  
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Hours per day available for salveo online consultation</label>
                <div class="col-md-9">
                  <input type="text" id="text-input" [(ngModel)]="hours_per_day" name ="hours_per_day" name="text-input" class="form-control" placeholder="Hours per day available for salveo online consultation">
                  <!-- <span class="help-block">This is a help text</span> -->
                </div>
              </div>
  
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Currently engaged in online consultation: Yes / No</label>
                
  
                <div class="col-md-9">
                  <select id="select1" name="select1" class="form-control"  [(ngModel)]="current_engaged" name ="current_engaged" >
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                </div>
                
  
  
              
              </div>
  
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Available type</label>
                <div class="col-md-9">
                  <input type="text" [(ngModel)]="Available_type" name ="Available_type" id="text-input" name="text-input" class="form-control" placeholder="Day/Night">
                  <!-- <span class="help-block">This is a help text</span> -->
                </div>
              </div>
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Service</label>
                <div class="col-md-9">
                  <input type="text" [(ngModel)]="Service" name ="Service" id="text-input" name="text-input" class="form-control" placeholder="Service">
                  <!-- <span class="help-block">This is a help text</span> -->
                </div>
              </div>
  
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Charge Per 3 Hrs</label>
                <div class="col-md-9">
                  <input type="text" [(ngModel)]="Charge_Per_15min" name ="Charge_Per_15min" id="text-input" name="text-input" class="form-control" placeholder="Charge Per 3 Hrs">
                  <!-- <span class="help-block">This is a help text</span> -->
                </div>
              </div>
  
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Additional Information, if any</label>
                <div class="col-md-9">
                  <textarea id="textarea-input" name="textarea-input" rows="9"   [(ngModel)]="Additional_info" name ="Additional_info" class="form-control" placeholder="Additional Information.."></textarea>
  
                  <!-- <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text"> -->
                  <!-- <span class="help-block">This is a help text</span> -->
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="file-input">File Attached</label>
                <div class="col-md-9">
                  <table style="border: 1px solid black; width: 100%;">
                    <tr style="border: 1px solid black;background-color: gray;">
                       <td style="border: 1px solid black;">S.no</td>
                       <td style="border: 1px solid black;">File_title</td>
                       <td style="border: 1px solid black;">File_path</td>
                       <td style="border: 1px solid black;">Action</td>
                    </tr>
                    <tr style="border: 1px solid black;">
                      <td style="border: 1px solid black;"><input type="" disabled></td>
                      <td style="border: 1px solid black;"><input type="text" [(ngModel)]="File_name" name ="File_name"></td>
                      <td style="border: 1px solid black;"><input type="file" (change)="fileupload($event)"></td>
                      <td style="border: 1px solid black;"><button (click)="addfiles()">Add</button></td>
                    </tr>
                    <ng-container *ngFor="let item of File_list; let i = index;">
                      <tr style="border: 1px solid black;">
                        <td style="border: 1px solid black;">{{i+1}}</td>
                        <td style="border: 1px solid black;">{{item.title}}</td>
                        <td style="border: 1px solid black;">{{item.path}}</td>
                        <td style="border: 1px solid black;"><button (click)="deletefile(i)">Delete</button></td>
                      </tr>
                      </ng-container>
                 </table>
                </div>
              </div>
            
            </form>
            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary" (click)="submit()"><i class="fa fa-dot-circle-o"></i> Submit</button>
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.row-->
  </div>
  