

.colorr i{
    padding: 10px;
position: relative;
top: -1px;

}
.se-color{
    padding: 10px;
background: #fdfdfd;
position: absolute;
top: 39px;
box-shadow: 0px 1px 1px 2px #b2b2b2;
border-radius: 4px;
z-index: 999;
}
.se-c{
padding: 7px;
border-radius: 4px;
width: 100%;
border: 1px solid #d6d6d6;
}