<div class="animated fadeIn">
    <!--/.row-->
    <div class="row">
      <div class="col-sm-3 col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i>Customer call Details
          </div>
          <div class="card-body">
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Name</th>
                  <th>Phone Numer</th>
                  <th>Enquiry Type</th>
                  <th>Booking-Id</th>
                  <th>Invoice Number</th>
                  <th>Vehicle Number</th>
                  <th>Call Duration</th>
                  <th>Customer Review</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      <th>Vikash Kumar</th>
                      <td>9988776655</td>
                      <td>Payment Issue</td>
                      <td>Em12001</td>
                      <td>12345ACDFS</td>
                      <td>TN 36 X2345</td>
                      <td>26m</td>
                      <td>satisfied</td>
                      <td>28-05-2020</td>
                    </tr>
              </tbody>
            </table>
        </div>
        </div>
        </div>
        </div>
  </div>
  

