<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Parking</strong>
          </div>
          <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <h4 class="card-title pt-4">Parking List</h4>
                <div style="overflow: scroll;">
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                      <tr>
                        <th>S.No</th>
                        <th>Parking name</th>
                        <th>Owner_name</th>
                        <th>Owner_primary_contact</th>
                        <th>Secoundary_Contact</th>
                        <th>POC_Contact</th>
                        <th>Parking_Area_Document</th>
                        <th>Parking_area_GST_No</th>
                        <th>GST_Address</th>
                        <th>Map_Link</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Owner_Email_Id</th>
                        <th>POC_Email_Id</th>
                        <th>Bike_Slots</th>
                        <th>Car_Slots</th>
                        <th>Slot Number</th>

                      </tr>
                      
                    </thead>
                    <tbody>
                        <ng-container>
                        <tr>
                            <td>1</td>
                            <td>Bike parking</td>
                            <td>Jayalakshmi</td>
                            <td>9988776655</td>
                            <td>8767898789</td>
                            <td>8765432345</td>
                            <td>Doc</td>
                            <td>2345rtfg</td>
                            <td>Chennai</td>
                            <td></td>
                            <td>123.11.11</td>
                            <td>45.34.35.44</td>
                            <td>jaya@gmail.com</td>
                            <td>vb@gmail.com</td>
                            <td>2</td>
                            <td>4</td>
                            <td>56</td>
                            
                         </tr>
                        </ng-container>
                    </tbody>
                  </table>      
                </div>     
            </form>
             
          </div>
        </div>
      </div>
    </div><!--/.row-->
  </div>
  

