<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <strong>Add Role</strong>
          </div>
          <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
              <div class="form-group row">
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Designation</label>
                    <div class="col-md-8">
                      <input type="text"  name ="designation" id="text-input" name="text-input" class="form-control" placeholder="Designation">
                    </div>
                  </div>             
                </div>                   
            </div> 
            <div class="row">                
              <div class="col-md-6">
                  <div class="form-group">
                      <button type="submit" class="btn btn-sm btn-primary float-right mt-5" ><i class="fa fa-dot-circle-o"></i> Submit</button>                
                      </div>                  
              </div> 
               <div class="col-md-6">
                  <div class="form-group">
                        <button type="reset"  class="btn btn-sm btn-danger mt-5"><i class="fa fa-ban"></i> Reset</button>  
                  </div>                  
              </div> 
          </div>
            </form>
        </div>
      </div>
    </div><!--/.row-->
  </div>
    <!--/.row-->
    <div class="row">
      <div class="col-sm-3 col-lg-8">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Designation List
          </div>
          <div class="card-body">
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Role</th>
                  <th>Permission</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      <td>Manager</td>
                      <td><a href="/#/superadmin/master/permissions" id="" ><li class="fa fa-key"></li></a></td>
                      <td><a href="" type="button" id="" class="btn btn-sm btn-primary">Edit</a>
                        <button type="button" id="" class="btn btn-sm btn-primary">Delete</button></td>
                  </tr>
              </tbody>
            </table>
        </div>
        </div>
        </div>
        </div>
  </div>
  

