<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Edit Employees</strong>
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group row">
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">First Name</label>
                  <div class="col-md-7">
                    <input type="text" [(ngModel)]="FName" name="FName" id="text-input" class="form-control"
                      placeholder="Employee Name">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Emp-Id</label>
                  <div class="col-md-7">
                    <input type="text" [(ngModel)]="empId" name="empId" id="text-input" class="form-control"
                      placeholder="Emp Id">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Phone Number</label>
                  <div class="col-md-7">
                    <input type="text" [(ngModel)]="PhoneNumber" (keypress)=_keyPress($event) (ngModelChange)="phone1()"
                      name="PhoneNumber" id="text-input" class="form-control" placeholder="Phone Number">
                    <span class="err" *ngIf="phone_err1">Enter Valid Phone Number.</span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Temporary address</label>
                  <div class="col-md-6">
                    <textarea type="text" [(ngModel)]="Temporaryaddress" name="Temporaryaddress" id="text-input"
                      class="form-control" placeholder="Temporary address"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Employee PanCard</label>
                  <div class="col-md-7">
                    <input type="text" [(ngModel)]="EmployeePanCard" name="EmployeePanCard" id="text-input"
                      class="form-control" placeholder="Employee PanCard">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Employee AadharCard</label>
                  <div class="col-md-7">
                    <input type="text" [(ngModel)]="EmployeeAadharCard" name="EmployeeAadharCard" id="text-input"
                      class="form-control" placeholder="Employee AadharCard">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Nominee Name</label>
                  <div class="col-md-7">
                    <input type="text" [(ngModel)]="NomineeName" name="NomineeName" id="text-input" class="form-control"
                      placeholder="Nominee Name">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Nominee PanCard</label>
                  <div class="col-md-7">
                    <input type="text" [(ngModel)]="NomineePanCard" name="NomineePanCard" id="text-input"
                      class="form-control" placeholder="Nominee PanCard">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Nominee AadharCard</label>
                  <div class="col-md-7">
                    <input type="text" [(ngModel)]="NomineeAadharCard" name="NomineeAadharCard" id="text-input"
                      class="form-control" placeholder="Nominee AadharCard">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Email-Id</label>
                  <div class="col-md-7">
                    <input type="text" [(ngModel)]="EmailId" name="EmailId" (ngModelChange)="emailcheck()"
                      id="text-input" class="form-control" placeholder="Email Id">
                    <span class="err" *ngIf="emailerror">Enter Valid Email Address.</span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Nominee Address</label>
                  <div class="col-md-6">
                    <textarea [(ngModel)]="NomineeAddress" class="form-control" name="NomineeAddress"
                      placeholder="Nominee Address"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Nominee AadharCard</label>
                  <div class="col-md-7">
                    <input style="display: none;" type="file" accept="application/pdf" (change)="fileupload4($event)"
                       name="NomineeAadharCard" id="imgfile" class="form-control"
                      placeholder="Nominee AadharCard"><label
                      style="padding: 3px;font-size: 11px;font-weight: 500; border: 1px solid #c8c6c6;width: 70px;margin-right: 5px;"
                      for="imgfile">Choose file</label><span class="err" *ngIf="pdfname4"><a href="{{NomineeAadharCard_file}}" target="blank"><i
                        class="fa fa-file-text" aria-hidden="true"></i> {{NomineeAadharCard_file | slice:51}}</a></span>
                    <p style="font-size: 10px;color: #f31d1d;">Please Upload a single PDF with front and back side of
                      the document</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Last Name</label>
                  <div class="col-md-7">
                    <input type="text" [(ngModel)]="LName" name="LName" id="text-input" class="form-control"
                      placeholder="Employee Name">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Designation</label>
                  <div class="col-md-7">
                    <input type="text" placeholder="Designation" class="form-control" [(ngModel)]="designation"
                      name="designation">

                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Alterative Number</label>
                  <div class="col-md-7">
                    <input type="text" [(ngModel)]="AlterativeNumber" (keypress)=_keyPress($event)
                      (ngModelChange)="phone2()" name="AlterativeNumber" id="text-input" class="form-control"
                      placeholder="Alterative Number">
                    <span class="err" *ngIf="phone_err2">Enter Valid Phone Number.</span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Permanent address</label>
                  <div class="col-md-6">
                    <textarea type="text" [(ngModel)]="Permanentaddress" name="Permanentaddress" id="text-input"
                      class="form-control" placeholder="Permanent address"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Employee PanCard</label>
                  <div class="col-md-7">
                    <input style="display: none;" type="file" accept="application/pdf" (change)="fileupload1($event)"
                     name="Employee PanCard" id="imgfile1" class="form-control"
                    placeholder="Employee PanCard"><label
                    style="padding: 3px;font-size: 11px;font-weight: 500; border: 1px solid #c8c6c6;width: 70px;margin-right: 5px;"
                    for="imgfile1">Choose file</label><span class="err" *ngIf="pdfname1"><a href="{{EmployeePanCard_file}}" target="blank"><i
                      class="fa fa-file-text" aria-hidden="true"></i> {{EmployeePanCard_file | slice:51}}</a></span>
                  <p style="font-size: 10px;color: #f31d1d;">Please Upload a single PDF with front and back side of
                    the document</p>


                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Employee AadharCard</label>
                  <div class="col-md-7">
                    <input style="display: none;" type="file" accept="application/pdf" (change)="fileupload2($event)"
                     name="Employee AadharCard" id="imgfile2" class="form-control"
                    placeholder="Employee AadharCard"><label
                    style="padding: 3px;font-size: 11px;font-weight: 500; border: 1px solid #c8c6c6;width: 70px;margin-right: 5px;"
                    for="imgfile2">Choose file</label><span class="err" *ngIf="pdfname2"><a href="{{EmployeeAadharCard_file}}" target="blank"><i
                      class="fa fa-file-text" aria-hidden="true"></i> {{EmployeeAadharCard_file | slice:51}}</a></span>
                  <p style="font-size: 10px;color: #f31d1d;">Please Upload a single PDF with front and back side of
                    the document</p>

                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Nominee Phone Number</label>
                  <div class="col-md-7">
                    <input type="text" [(ngModel)]="MobileNumber" (keypress)=_keyPress($event)
                      (ngModelChange)="phone3()" name="MobileNumber" id="text-input" class="form-control"
                      placeholder="Nominee Mobile Number">
                    <span class="err" *ngIf="phone_err3">Enter Valid Phone Number.</span>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="text-input">Nominee PanCard</label>
                  <div class="col-md-7">

                    <input style="display: none;" type="file" accept="application/pdf" (change)="fileupload3($event)"
                    name="NomineePanCard" id="imgfile3" class="form-control"
                   placeholder="NomineePanCard"><label
                   style="padding: 3px;font-size: 11px;font-weight: 500; border: 1px solid #c8c6c6;width: 70px;margin-right: 5px;"
                   for="imgfile3">Choose file</label><span class="err" *ngIf="pdfname3"><a href="{{NomineePanCard_file}}" target="blank"><i
                     class="fa fa-file-text" aria-hidden="true"></i> {{NomineePanCard_file | slice:51}}</a></span>
                 <p style="font-size: 10px;color: #f31d1d;">Please Upload a single PDF with front and back side of
                   the document</p>

                  </div>
                </div>



              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--/.row-->
  </div>
  <div class="row">
    <div class="col-sm-3 col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Sector
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <div class="col-md-3 col-form-label">
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" type="checkbox" id="inline-checkbox1" [checked]="Finance_se"
                      name="Finance_se" value="Finance" (change)="onCheckboxChagen($event)">
                    <label class="form-check-label" for="inline-checkbox1">Finance</label>
                  </div>
                </div>
                <div class="col-md-3 col-form-label">
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" type="checkbox" id="inline-checkbox2" [checked]="CCTeam_se"
                      name="CCTeam_se" Value="CCTeam" (change)="onCheckboxChagen($event)">
                    <label class="form-check-label" for="inline-checkbox2">CC Team</label>
                  </div>
                </div>
                <div class="col-md-3 col-form-label">
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" type="checkbox" id="inline-checkbox3" [checked]="AppFeatures_se"
                      name="AppFeatures_se" value="AppFeatures" (change)="onCheckboxChagen($event)">
                    <label class="form-check-label" for="inline-checkbox3">App Features</label>
                  </div>
                </div>
                <div class="col-md-3 col-form-label">
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" type="checkbox" id="inline-checkbox4" [checked]="Operations_se"
                      name="Operations_se" value="Operations" (change)="onCheckboxChagen($event)">
                    <label class="form-check-label" for="inline-checkbox4">Operations</label>
                  </div>
                </div>
                <div class="col-md-3 col-form-label">
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" type="checkbox" id="inline-checkbox2" [checked]="VendorList_se"
                      name="VendorList_se" value="VendorList" (change)="onCheckboxChagen($event)">
                    <label class="form-check-label" for="inline-checkbox2">Mechanic List</label>
                  </div>
                </div>
                <div class="col-md-3 col-form-label">
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" type="checkbox" id="inline-checkbox2" [checked]="VendorParking_se"
                      name="VendorList_parking" value="VendorParking" (change)="onCheckboxChagen($event)">
                    <label class="form-check-label" for="inline-checkbox2">Parking List</label>
                  </div>
                </div>
                <div class="col-md-3 col-form-label">
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" type="checkbox" id="inline-checkbox3"
                      [checked]="VendorOnbordation_se" name="VendorOnbordation_se" value="VendorOnbordation"
                      (change)="onCheckboxChagen($event)">
                    <label class="form-check-label" for="inline-checkbox3">Mechanic Onbordation</label>
                  </div>
                </div>
                <div class="col-md-3 col-form-label">
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" type="checkbox" id="inline-checkbox4"
                      [checked]="parkingOnboradation_se" name="parkingOnboradation" value="parkingOnboradation"
                      (change)="onCheckboxChagen($event)">
                    <label class="form-check-label" for="inline-checkbox4">Parking Onbordation</label>
                  </div>
                </div>
                <div class="col-md-3 col-form-label">
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" type="checkbox" id="inline-checkbox4" [checked]="AddEmployee_se"
                      name="AddEmployee_se" value="AddEmployee" (change)="onCheckboxChagen($event)">
                    <label class="form-check-label" for="inline-checkbox4">Add Employee</label>
                  </div>
                </div>
                <div class="col-md-3 col-form-label">
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" type="checkbox" id="inline-checkbox4" [checked]="ListofEmployees_se"
                      name="ListofEmployees_se" value="ListofEmployees" (change)="onCheckboxChagen($event)">
                    <label class="form-check-label" for="inline-checkbox4">List of Employees</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Location
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <ng-container *ngFor="let loc of Location_list; let i=index">
                  <div class="col-md-3 col-form-label">
                    <div class="form-check form-check-inline mr-1">
                      <input class="form-check-input" type="checkbox" id="{{loc._id}}" [checked]="loc.status"
                        value="{{loc._id}}" (change)="addlocation($event)">
                      <label class="form-check-label" for="{{loc._id}}">{{loc.Display_Name}}</label>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-sm-3 col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Add Permissions
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="text-input">Service Type</label>
            <div class="col-md-2 col-form-label">
              <div class="form-check form-check-inline mr-1">
                <input class="form-check-input" type="checkbox" name="Mechanic" [checked]="isDisable" value="Mechanic"
                  (change)="changepermission($event)">
                <label class="form-check-label" for="Mechanic">Mechanic</label>
              </div>
            </div>
            <div class="col-md-2 col-form-label">
              <div class="form-check form-check-inline mr-1">
                <input class="form-check-input" type="checkbox" name="Parking" [checked]="isParking" value="Parking"
                  (change)="changeparkingpermission($event)">
                <label class="form-check-label" for="Parking">Parking</label>
              </div>
            </div>
          </div>
          <table class="table table-bordered table-striped table-sm mt-4">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Page Name</th>
                <th>Create</th>
                <th>View/List</th>
                <th>Edit</th>
                <th>Get Excel</th>
                <th>Share</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="isDisable">
                <td>1</td>
                <td>Mechanic Bookings</td>
                <th><input type="checkbox" value="MechanicBooking_Create" (change)="addpermission($event)" id="val31"
                    [checked]="mech_create">
                </th>
                <th><input type="checkbox" value="MechanicBooking_viewlist" (change)="addpermission($event)" id="val32"
                    [checked]="mech_view">
                </th>
                <td><input type="checkbox" value="MechanicBooking_Edit" (change)="addpermission($event)" id="val33"
                    [checked]="mech_edit">
                </td>
                <td><input type="checkbox" value="MechanicBooking_Excel" (change)="addpermission($event)" id="val34"
                    [checked]="mech_excel">
                </td>
                <td><input type="checkbox" value="MechanicBooking_Share" (change)="addpermission($event)" id="val35"
                    [checked]="mech_share">
                </td>
              </tr>
              <tr *ngIf="isDisable">
                <td>2</td>
                <td>Mechanic Registartion Form</td>
                <td><input type="checkbox" value="MechanicReg_Create" (load)="load($event)"
                    (change)="addpermission($event)" id="val36" [checked]="MechReg_create"></td>
                <td><input type="checkbox" value="MechanicReg_ViewList" (change)="addpermission($event)" id="val151"
                    [checked]="MechReg_view"></td>
                <td><input type="checkbox" value="MechanicReg_Edit" (change)="addpermission($event)" id="val38"
                    [checked]="MechReg_edit"></td>
                <td><input type="checkbox" value="MechanicReg_Excel" (change)="addpermission($event)" id="val39"
                    [checked]="MechReg_excel"></td>
                <td><input type="checkbox" value="MechanicReg_Share" (change)="addpermission($event)" id="val40"
                    [checked]="MechReg_share"></td>
              </tr>
              <tr *ngIf="isDisable">
                <td>3</td>
                <td>Mechanic List</td>
                <td><input type="checkbox" value="MechanicList_Create" (change)="addpermission($event)" id="val41"
                    [checked]="MechList_create"></td>
                <td><input type="checkbox" value="MechanicList_ViewList" (change)="addpermission($event)" id="val42"
                    [checked]="MechList_view"></td>
                <td><input type="checkbox" value="MechanicList_Edit" (change)="addpermission($event)" id="val43"
                    [checked]="MechList_edit"></td>
                <td><input type="checkbox" value="MechanicList_Excel" (change)="addpermission($event)" id="val44"
                    [checked]="MechList_excel"></td>
                <td><input type="checkbox" value="MechanicList_Share" (change)="addpermission($event)" id="val45"
                    [checked]="MechList_share"></td>
              </tr>

              <tr *ngIf="isParking">
                <td>4</td>
                <td>Parking Bookings</td>
                <th><input type="checkbox" value="ParkingBooking_Create" (change)="addpermission($event)" id="val46"
                    [checked]="Parkbook_create">
                </th>
                <td><input type="checkbox" value="ParkingBooking_ViewList" (change)="addpermission($event)" id="val47"
                    [checked]="Parkbook_view">
                </td>
                <td><input type="checkbox" value="ParkingBooking_Edit" (change)="addpermission($event)" id="val48"
                    [checked]="Parkbook_edit"></td>
                <td><input type="checkbox" value="ParkingBooking_Excel" (change)="addpermission($event)" id="val49"
                    [checked]="Parkbook_excel">
                </td>
                <td><input type="checkbox" value="ParkingBooking_Share" (change)="addpermission($event)" id="val50"
                    [checked]="Parkbook_share">
                </td>
              </tr>
              <tr *ngIf="isParking">
                <td>5</td>
                <td>Vendor Parking </td>
                <td><input type="checkbox" value="VendorParking_Create" (change)="addpermission($event)" id="val51"
                    [checked]="VendPark_create">
                </td>
                <td><input type="checkbox" value="VendorParking_ViewList" (change)="addpermission($event)" id="val52"
                    [checked]="VendPark_view">
                </td>
                <td><input type="checkbox" value="VendorParking_Edit" (change)="addpermission($event)" id="val53"
                    [checked]="VendPark_edit"></td>
                <td><input type="checkbox" value="VendorParking_Excel" (change)="addpermission($event)" id="val54"
                    [checked]="VendPark_excel"></td>
                <td><input type="checkbox" value="VendorParking_Share" (change)="addpermission($event)" id="val55"
                    [checked]="VendPark_share"></td>
              </tr>


              <tr *ngIf="isParking">
                <td>6</td>
                <td>Parking Vendor List</td>
                <td><input type="checkbox" value="DriverReg_Create" (change)="addpermission($event)" id="val56"
                    [checked]="Driver_create"></td>
                <th><input type="checkbox" value="DriverReg_ViewList" (change)="addpermission($event)" id="val57"
                    [checked]="Driver_view"></th>
                <td><input type="checkbox" value="DriverReg_Edit" (change)="addpermission($event)" id="val58"
                    [checked]="Driver_edit"></td>
                <td><input type="checkbox" value="DriverReg_Excel" (change)="addpermission($event)" id="val59"
                    [checked]="Driver_excel"></td>
                <td><input type="checkbox" value="DriverReg_Share" (change)="addpermission($event)" id="val60"
                    [checked]="Driver_share"></td>
              </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <button (click)="submitt()" class="btn btn-sm btn-primary float-right mt-5">Update</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <button type="reset" class="btn btn-sm btn-danger mt-5" (click)="back()"> Back</button>
      </div>
    </div>
  </div>
</div>