<div class="animated fadeIn">
    
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">                        
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Booking Id</label>
                            <div class="col-md-6">
                            <input type="text" [(ngModel)]="BookingId" name="BookingId" id="text-input" 
                                class="form-control" disabled placeholder="Booking Id">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Mobile No</label>
                            <div class="col-md-6">
                            <input type="text" [(ngModel)]="mobile" name="mobile" id="text-input" 
                                class="form-control" disabled placeholder="Mobile No">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Customer Name</label>
                            <div class="col-md-6">
                            <input type="text" [(ngModel)]="cname" name="cname" id="text-input" 
                                class="form-control" disabled placeholder="Customer Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Vehicle No</label>
                            <div class="col-md-6">
                            <input type="text" [(ngModel)]="vehicle" name="vehicle" id="text-input" 
                                class="form-control" disabled placeholder="vehicle No">
                            </div>
                        </div>                        
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Vehicle Type</label>
                            <div class="col-md-6">
                            <input type="text" [(ngModel)]="vehicletype" name="vehicletype" id="text-input" 
                                class="form-control" disabled placeholder="vehicle Type">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Order Value</label>
                            <div class="col-md-6">
                            <input type="text"  name="OrderValue" value="500" id="text-input" 
                                class="form-control" disabled placeholder="Order Value">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Final Payable Amount </label>
                            <div class="col-md-6">
                            <input type="text"  name="FinalPayable" id="text-input" 
                                class="form-control" placeholder="Final Payable Amount">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Customer Invoice</label>
                            <div class="col-md-3">
                                <input type="file" name="invoice" id="text-input" class="form-control">
                            </div>
                            <div class="col=md-3">
                                <button class="btn btn-sm btn-primary"><i class="fa fa-edit"></i>Edit</button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Customer Invoice Option</label>
                            <div class="col-md-3">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                  <tr>
                                    <th>S.No</th>
                                    <th>Documents</th>
                                    <th>Download</th>
                                    <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <td>1</td>
                                    <td>Doc</td>
                                    <th><button class="btn btn-sm btn-primary">Download</button></th>
                                    <th> <button class="btn btn-sm btn-primary">Delete</button></th>
                                </tbody>
                                </table>
                                </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Job Card</label>
                            <div class="col-md-3">
                                <input type="file" name="jobcard" id="text-input" class="form-control">
                            </div>                            
                            <div class="col=md-3">
                                <button class="btn btn-sm btn-primary"><i class="fa fa-edit"></i>Edit</button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Job Option</label>
                            <div class="col-md-3">
                                <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                      <tr>
                                        <th>S.No</th>
                                        <th>Documents</th>
                                        <th>Download</th>
                                        <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <td>1</td>
                                        <td>Doc</td>
                                        <th><button class="btn btn-sm btn-primary">Download</button></th>
                                        <th> <button class="btn btn-sm btn-primary">Delete</button></th>
                                    </tbody>
                                    </table>
                                </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Workshop Id</label>
                            <div class="col-md-6">
                                <input type="text" [(ngModel)]="MechanicId" name="MechanicId" id="text-input"
                                     class="form-control" placeholder="Workshop Id">
                            </div>
                            <div class="col-md-3">
                               <button><li class="fa fa-search"></li></button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Workshop Name</label>
                            <div class="col-md-6">
                                <input type="text" [(ngModel)]="WorkshopName" name="WorkshopName" id="text-input"
                                     class="form-control" placeholder="Workshop Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Workshop Location</label>
                            <div class="col-md-6">
                                <input type="text" [(ngModel)]="WorkshopLocation" name="WorkshopLocation" id="text-input"
                                     class="form-control" placeholder="Workshop Location">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Booking Status</label>
                            <div class="col-md-6">
                                <select class="form-control">
                                    <option>Booking Confirmed</option>
                                    <option>Contacted Customer</option>
                                    <option>Vehicle Reached to Workshop</option>
                                    <option>Estimate Approved</option>
                                    <option>Working in Prcess</option>
                                    <option>Payment Completed </option>   
                                    <option>Vehicle Delivered</option>                                 
                                </select>
                            </div>
                        </div>
                        
                        
                   <div class="row">                
                    <div class="col-md-6">
                        <div class="form-group">
                          <button (click)="subservicecreation()" class="btn btn-sm btn-primary float-right mt-5" ><i class="fa fa-save"></i>Save</button>               
                        </div>                  
                    </div>                  
                    <div class="col-md-6">
                        <div class="form-group">
                          <button (click)="back_to_page()" class="btn btn-sm btn-success mt-5" ><i class="fa fa-save"></i>Back</button>               
                        </div>                  
                    </div>  
                </div>   
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>