<div class="animated fadeIn">
    <div class="card">
        <div class="card-body">            
            <h4 class="card-title pb-4">Downloads</h4>
    <div class="row">
      <div class="col-md-4">
        <input type="text" name="" class="form-control" placeholder="Request Id">
      </div>
      <div class="col-md-4">
        <input type="text" name="" class="form-control" placeholder="status">
      </div>
      <div class="col-md-4">
        <input type="text" name="" class="form-control" placeholder="Downlad">
      </div>
      
    </div>
    <!-- <div class="row">
        <div class="col-md-12">
            <h4 class="card-title pt-4">Notifications</h4>
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                      <tr>
                        <th>Vehicle Number</th>
                        <th>Booking Id</th>
                        <th>Invoice</th>
                        <th>Payment Status</th>
                        <th>UTR</th>
                        <th>Invoice Number</th>
                        <th>Invoice Date</th>
                      </tr>
                      
                    </thead>
                    <tbody>
                        <tr>
                            <td>TN 36 9876</td>
                            <td>RE1234C</td>
                            <td>Include</td>
                            <td><span class="badge badge-success">Success</span></td>
                            <td>0</td>
                            <td>IVR1234</td>
                            <td>27-05-2020</td>
                         </tr>
                    </tbody>
                  </table>
                </div>
    </div> -->
        </div>
    </div>
</div>