<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Mechanic Booking Form</strong>
          </div>
          <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
              <div class="form-group row">
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Customer Name</label>
                    <div class="col-md-8">
                      <input type="text"  name ="CustomerName" id="text-input" name="text-input" class="form-control" placeholder="Customer Name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Customer Phone</label>
                    <div class="col-md-8">
                      <input type="text"  name ="CustomerPhone" id="text-input"  class="form-control" placeholder="Customer Phone">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Address</label>
                    <div class="col-md-8">
                      <textarea name ="ResidenceAddress" id="text-input" rows="4" class="form-control" placeholder="Residence Address"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Email Id</label>
                    <div class="col-md-8">
                      <input type="text"  name ="EmailId" id="text-input" class="form-control" placeholder="Email Id">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Services</label>
                    <div class="col-md-8">
                      <input type="text"  name ="Services" id="text-input" name="text-input" class="form-control" placeholder="Services">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Sub Services</label>
                    <div class="col-md-8">
                      <input type="text"  name ="SubServices" id="text-input" name="text-input" class="form-control" placeholder="Sub-Services">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Vehicle Type</label>
                    <div class="col-md-8">
                      <input type="text"  name ="VehicleType" id="text-input" name="text-input" class="form-control" placeholder="Vehicle Type">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Vehicle Number</label>
                    <div class="col-md-8">
                      <input type="text"  name ="VehicleNumber" id="text-input" class="form-control" placeholder="Vehicle Number">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Lubricant Type</label>
                    <div class="col-md-8">
                      <input type="text" name ="LubricantType" id="text-input" rows="4" class="form-control" placeholder="Lubricant Type">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Mechanic Name</label>
                    <div class="col-md-8">
                      <input type="text"  name ="MechanicName" id="text-input" name="text-input" class="form-control" placeholder="Mechanic Name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Mechanic Phone</label>
                    <div class="col-md-8">
                      <input type="text"  name ="MechanicPhone" id="text-input" name="text-input" class="form-control" placeholder="Mechanic Phone">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input">Pick up</label>
                    <div class="col-md-8">
                        <select name="pickup" class="form-control">
                            <option value="">Select Pick Up</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                  </div>
                </div>
              </div>
  
              
            
  
            
            </form>
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-sm btn-primary" ><i class="fa fa-dot-circle-o"></i> Submit</button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
              
                </div>
                
            </div>
             
          </div>
        </div>
      </div>
    </div><!--/.row-->
  </div>
  
  
  